html,body{
  height: 100%;
  margin: 0;
  background-color: #B8F;
  font-family: monospace;
  overflow: none;
  color: white;
}
body,div,footer,header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header,div,footer{
  width:100%;
}
header{
  position: sticky;
  height:5%;
  background-color: #94F;
  font-weight: bold;
  font-size: 2rem;
  font-family: Open Sans
}
div{
  height: 85%;
  width: 90%;
  overflow: auto;
}

.B,.C{display:none;}

footer{
  height: 10%;
  width:90%;
  margin-bottom:5%;
  background-color: #94F;
  flex-direction: row;
  border-radius:2rem;
}
h3{
  margin:auto;
}
